{% extends 'base.html' %}

{% block content %}
<h3>Customer Record</h3>

<div class="card">
  <div class="card-header">
    {{ customer.first_name }}
    {{ customer.last_name }}
  </div>
  <div class="card-body">
    <p class="card-text">
    <strong>Email: </strong>{{ customer.email }} <br>
    <strong>Phone: </strong>{{ customer.phone }} <br>
    <strong>Address: </strong>{{ customer.address }} <br>
    <strong>Zipcode:</strong>{{ customer.zipcode }} <br>
    <strong>City: </strong>{{ customer.city }} <br>

    </p>


  </div>
</div>

<a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>
<a href="{% url 'delete_record' customer.id %}" class="btn btn-danger"> Delete</a>
<a href="{% url 'update_record' customer.id %}" class="btn btn-primary"> Update</a>

{% endblock %}